<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h2>User Registration</h2>
    </header>

    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="date_of_birth">Birth Date (optional):</label>
        <input type="date" name="date_of_birth">

        <label for="bio">Bio (optional):</label>
        <textarea name="bio"></textarea>

        <button type="submit">Register</button>
    </form>

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}


    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
</body>
</html>
